.controlsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hr {
    border-left: var(--grey-300) solid 1px;
    height: 32px;
    width: 1px;
}