:root {
    /** Fonts */
    --font-family-sans: 'Inter', sans-serif;
    --font-family-serif: 'Merriweather', serif;
    --font-family-mono: 'Fira Code', monospace;
    --font-family-current: var(--font-family-sans);

    /** Colors */
    --black: #050505;
    --white: #ffffff;
    --purple: #a445ed;
    --red: #ff5252;
    --grey-900: #1f1f1f;
    --grey-800: #2d2d2d;
    --grey-700: #3a3a3a;
    --grey-400: #757575;
    --grey-300: #e9e9e9;
    --grey-200: #f4f4f4;
}
